#header{
    max-height: 70px;
}

#header .ivy_logo-box{
    height: 70px;
}

#header .ivy_logo-box img{
    height: 70px;
    max-width: 150px;
}

.ivy_searchbar{
    border: none;
    background-color: #e9ecef;
}

#content{
    height: calc(100vh - 70px);
}

#sidebar{
    width: 70px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.ivy_sidebar-commands{
    list-style-type: none;
}

#sidebar i{
    width: 1rem;
}

#main{
    width: calc(100vw - 70px);
    height: calc(100vh - 70px);
}

#main-heading{
    background-color: #1b72e8;
}

.ivy_icon-box{
    width: 1.5rem;
}

@media screen and (min-width: 992px) {
    #header .ivy_logo-box{
        width: 150px;
    }

    #sidebar{
        width: 150px;
    }

    #main{
        width: calc(100vw - 70px);
    }
    
    .offcanvas.offcanvas-end{
        width: 50%!important;
    }
}